.git
.gitignore
.github
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/venv/
**/build/
**/dist/
**/*.egg-info/
out/
RoomZero/build/
RoomZero/RoomZero/
RoomZero/data/platform/platform.sqlite
RoomZero/.env
.env
